.container {
  /* max-width: 600px;
  width: 100%; */
}
/* .App {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

label input {
  padding: 5px 92px;
}

input[type="submit"] {
  width: 20%;
  padding: 5px 0px;
  
} */
